# Ignore all
*

# Unignore all files with exntensions
!*.*

# Unignore all dirs
!*/

# Unignore specific files without extensions
!.gitignore
!Dockerfile

# Ignore specific files with extensions
*.out
*.txt

# Ignore specific dirs
.devcontainer/
.vscode/